<div class="chat-room-div" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <p *ngFor="let message of messages">
      <span class="user-name-span" >{{message.split(":")[0]}} :   </span>
      <button type="button" class="btn btn-info">{{message.split(":")[1]}}</button>
</div>
<div class="message-input-div">
  <div (keydown.enter)="onSubmit()">
    <input class="input-class" type="text" aria-describedby="inputGroup-sizing-default" [formControl]="text">
    <button (click)="onSubmit()" type="button" type="button" class="btn btn-success">send</button>
  </div>
</div>